		    body {
				background-color: #232323;
				font-family: helvetica, sans-serif;
				font: bold;
				font-size: 13px;
				margin: 0;
			}	
			
			header{
				background-image: url("sky.png");
				background-position: center;
				background-repeat: repeat-x;
				background-size: cover;
				position: relative;
				height: 110px;
			}

			header img {
				width: 180px;
				height: 100px;
				margin-left: 42%;
			}
			
			.searchbar {
			  position: absolute;
			  top: 70%;
			  left: 70%;
			  transform: translate(-50%, -50%);
			  z-index: 1;
			  border: 1px transparent black;
			  border-radius: 50%;
			}
			
			.signin button{
			  position: absolute;
			  width: 66px;
			  top: 70%;
			  left: 80%;
			  transform: translate(-50%, -50%);
			  z-index: 1;
			  background-color: #299fff;
			  border: 0.5px solid #299fff;
			  color: #fff;
			
			}
			
			.accessibility{
				position: absolute;
				top: 48%;
			    left: 83%;
				
			}
			
			.accessibility button {
				border: 0.5px solid transparent;
				background-color: transparent;
				cursor: pointer;
				
			}
			.accessibility img {
				width: 20px;
				height: 20px;
			}
			
			nav{
				margin: 0px 30px;
			}
			
			nav ul{
				background-color: #005aae;
				list-style-type: none;
				margin-top: 3%;
				border: 2px solid #000;
				border-width: 2px;
				width: 91.4%;
				margin-left: 0.5%;				
			}
			
			nav li{
				display: inline;
				margin: 0px 70px;
				font-weight: bold;
				font-size: 17px;
				color: #fff;

			}
			
			nav li a {
				text-decoration: none;
				color: white;
			}
			.breadcrumbs{
				border: 1px solid #000;
				background-color: #fbc404;
				width: 85px;
				margin-left: 39px;
				
			}
			
			.breadcrumbs a{
				text-decoration: none;
				color: #b70f0a;
				font-weight: bold;
				font-size: 17px;
				
			}
			.next p{
				width: 45px;
				height: 45px;
				color: #005aae;
				font-weight: bold;
				font-size: 45px;
				float: left;
				background-color: #232323;
				border-radius: 40%;
				padding: 0px 0px 5px 0px;
			}
			
			.next a{
					text-decoration: none;
					color: #005aae;
			}	
			
			.movie-container {
			  position: relative;
			  display: inline-block;
			}

			.movie-info {
			  display: none;
			  position: absolute;
			  top: 50%;
			  left: 60%;
			  width: 200px;
			  background-color: #232323;
			  padding: 10px;
			  border-radius: 4px;
			  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			  z-index: 1;
			}

			.movie-container:hover .movie-info {
			  display: block;
			}
			
			footer{
				clear: both;
				background-color: #005aae;
			}
			
			footer section{
				color: #000;
				height: 40px;
			}
			
			
			